@{
    ViewData["Title"] = "Naslovna";
}

<div class="text-center">
    <h1 class="display-4">Lab3 Cars</h1>
    <p style="font-variant-emoji:auto">Malo mijenjano reda radi. :)</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Create" style="background-color:lightblue">Unos</a>
    </>
    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index" style="background-color:lightblue">Prikaži Aute</a>
    </>
</div>
